/* Arquivo sevo-orgs-css.css */
.sevo-orgs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.sevo-orgs-item {
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(33.333% - 20px); /* Ajusta o layout para 3 colunas com espaçamento */
    box-sizing: border-box;
}

.sevo-orgs-thumbnail img{
    width: 100%;
    height: auto;
}

.sevo-orgs-title {
    margin-top: 0;
}

.sevo-orgs-status{
    text-transform: capitalize;
}
